.body{
    background-color: rgb(5, 5, 42);
}

 .img-fluid{
    width: 100px;
    
} 

section{
    padding: 50px 0;
}

.main-btn{
    display: inline;
    background-color: transparent;
    border-radius: 50px;
    transform: all .4s ease-in-out;
    border: 2px solid gray;
    color: gray;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    text-decoration: none;
}

.main-btn:hover{
    background-color: rgba(255, 0, 60, 0.716);
    border-color:  rgba(255, 0, 60, 0.716);
    color: white;
}

h1{
    font-size: 50px;
    line-height: 68px;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
}

h1 span{
    color: rgba(255, 0, 60, 0.716);
}

h2{
    font-size: 45px;
    line-height: 1.3;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}

h3{
    font-size: 17px;
    font-weight: 600;
    color: gray;
    margin-bottom: 20px;
}

p{
    color: gray;
    font-size: 13px;
    line-height: 28px;
    font-weight: 300;
}


h6{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    color: gray;
    margin-bottom: 20px;
    
}

.subtitle{
    display: inline-block;
    font-weight: 500px;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 12px;
    background: linear-gradient(to right, #920587,#3570df);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

input:hover,
input:focus,
textarea:focus
button{
    outline: none !important;
    box-shadow: none !important;
}

.header-wrapper .navbar{
padding:0 0 15px 0;
-webkit-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
background-color: rgb(5, 5, 42); 
} 


.header-wrapper .navbar-brand img{
    max-width: 120px;
    height: auto;
}

.header-wrapper .navbar-toggler{
    border: 0;
    color: gray;
    line-height: 2;
}

.header-wrapper .navbar-toggler:focus{
    box-shadow: none;
}

.header-wrapper .nav-item{
    margin: 0 5px;
    font-size: 12px;
}

.header-wrapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

.header-wrapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: rgba(255, 0, 60, 0.716);
    transition: 0.3s;
    bottom: 0;
}

.header-wrapper .nav-item .nav-link.active::after,
.header-wrapper .nav-item .nav-link:hover::after{
    width: 100%;
}

.header-wrapper .nav-item .nav-link.active,
.header-wrapper .nav-item .nav-link:hover{
    color: rgba(255, 0, 60, 0.716);
}

.header-scrolled{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
}

.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
    color: rgba(255, 0, 60, 0.716);
}

.banner_wrapper{
    width: 100%;
    height: auto;
    min-height: 400px;
    background-image: url(images/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0 100px 0;
}


/* ----------------------about section ------------------------- */

.about_wrapper ul.nav-pills{
    border: 1px solid gray;
    border-radius: 20px;
}

.about_wrapper ul li .nav-link{
    border-radius: 20px;
    font-size: 11px;
    font-weight: 300px;
    transition: all 0.45s cubic-bezier(0,0,0.2,1);
    display: inline-block;
    color: gray;
    border: 0;
}

.about_wrapper ul li .nav-link.active{
    background-color: rgba(255, 0, 60, 0.716);
}

.about_wrapper .single-progress{
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.about_wrapper .single-progress .progress{
    height: 3px;
    border-radius: 3px;
    box-shadow: none;
    background-color: white;
    overflow: visible;
}

.single-progress h6{
    font-size: 13px;
    font-weight: 400;
}

.about_wrapper .single-progress .progress-bar{
    background-image: linear-gradient(to right, #a40831,#3570df);;
}

.about_wrapper .single-progress .progress h6{
    text-align: left;
}

.about_wrapper .single-progress  .label{
    position: absolute;
    right: 0;
    top: 0;
    color: gray;
    font-size: 13px;
}

.about_wrapper .tab-pane li{
color: gray;
font-size: 14px;
margin-bottom: 13px;
font-weight: 300;
list-style: none;
}

.about_wrapper .tab-pane li a{
    font-weight: 400;
    display: block;
    color: gray;
    text-decoration: none;
}

.service_wrapper h3{
    font-size: 15px;
}

.service_wrapper .card{
    background-color: rgb(4, 4, 33);
    cursor: pointer;
    transition:transform 0.6s cubic-bezier(0.05,0.2,0.1,1);
    box-shadow: 0.65s cubic-bezier(0.05,0.2,0.1,1);
}

.service_wrapper .card:hover{
    box-shadow: 0px 2px 70px 0 rgb(2, 2, 17);
    transform: translateY(-5px);
}

/* -------------------------portfolio section--------------------------- */

.portfolio_wrapper .card{
    height: 100%;
    min-height: 250px;
    overflow: hidden;
    border: 1px solid white;
    box-shadow: 0 0 16px 4px rgba(12, 0, 46, 0.5);
    cursor: pointer;
}

.portfolio_wrapper .card span{
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.portfolio_wrapper .card:hover span{
    background-position: bottom center;
}

/* ---------------------------------contact section--------------------------------- */

.contact_wrapper .form-control,
.contact_wrapper textarea{
background-color: transparent;
border-color: gray;
color: gray;
font-size: 13px;
font-weight: 300;
padding: 10px 20px;
}

.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus{
    border-color: rgba(255, 0, 60, 0.716);
    color: white;
    background-color: transparent;
    box-shadow: none;
}

.contact_wrapper .call_details{
    color: gray;
    font-size: 10px;
}

.contact_wrapper .call_details a{
    font-weight: 700;
    color: gray;
    text-decoration: none;
}

/* -----------------------footer section--------------------------- */

.footer_wrapper{
    background-color: rgb(4, 4, 33);
    padding: 20px 0;
    
}

.footer_wrapper .footer-logo img{
    width: 100px;
}

.footer_wrapper .social-icon li{
margin: 4px;
}

.footer_wrapper .social-icon a{
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-size: 12px;
    display: inline-block;
    border: 2px solid gray;
    color: gray;
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-icon a:hover{
    background-color: rgba(255, 0, 60, 0.716);
    border-color: rgba(255, 0, 60, 0.716);
    color: white;
    box-shadow: 0 10px 15px 0 black;
    transform: translateY(-5px);
}

.footer_wrapper .copyright-text p{
    font-size: 9px;
     line-height: 15px; 
}

.footer_wrapper .copyright-text a{
    text-decoration: none;
    color: rgba(255, 0, 60, 0.716);
}







